@model AspNetCoreMvcAppDemo.ViewModel.PetsViewModel
@{
    ViewData["Title"] = "AGL Developer coding test - Get pets";
}

<h2>AGL Developer coding test - Get pets grouped by owner's gender</h2>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                A List of Pets grouped by owner's gender.
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="h4">Male</div>
                        <ul>
                            @foreach(var pet in Model.PetsFromMaleOwner)
                            {
                                <li>@pet.Name</li>
                            }
                        </ul>
                    </div>
                    <div class="row">
                        <div class="h4">Female</div>
                        <ul>
                            @foreach(var pet in Model.PetsFromFemaleOwner)
                            {
                                <li>@pet.Name</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-12">
                        <span class="badge">Coding test instruction: </span>
                        <a class="btn btn-default" href="http://agl-developer-test.azurewebsites.net/" target="_blank">
                            http://agl-developer-test.azurewebsites.net/
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>